<div class="container">
	<h3 class="subtitle">Código de asignatura</h3>
	<div class="field">
		<label class="label">Titulación</label>
		<div class="control">
			<div class="select is-primary is-fullwidth">
				<select id="degree-id" name="degree">
					<option disabled selected value>
						-- Selecciona --
					</option>
					{% for degree in degrees %}
						<option value={{degree.id}}>{{degree.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		{% if errors.degree %}
			<p class="help is-danger">{{errors.degree}}</p>
		{% endif %}
	</div>


	<div class="field">
		<label class="label">Asignatura</label>
		<div class="control">
			<div class="select is-primary is-fullwidth">
				<select id="subject-id" name="subject">
					<option disabled selected value>
						-- Selecciona --
					</option>
					{% for subject in subjects %}
						<option value={{subject.id}} data-id-degree={{subject.id_degree}}>{{subject.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		{% if errors.subject %}
			<p class="help is-danger">{{errors.subject}}</p>
		{% endif %}
	</div>


	<div class="field">
		<label class="label">Grupo</label>
		<div class="control">
			<div class="select is-primary is-fullwidth">
				<select id="group-id" name="group">
					<option disabled selected value>
						-- Selecciona --
					</option>
					{% for group in groups %}
						<option value={{group.id}}>{{group.id}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	{% if errors.group %}
		<p class="help is-danger">{{errors.group}}</p>
	{% endif %}
</div>
