<div>
	<div class="columns">
		<div class="column is-6"></div>
		{% for column in 1..columns %}
			<div class="column {% if column in 2..columns %}is-hidden-mobile{% endif %}">
				<div class="field">
					<label class="label">Profesor
						{{ column-}}</label>
					<div class="control">
						<div class="select is-primary is-fullwidth">
							<select name="proffesors[{{column}}]">
								<option disabled selected value>
									-- Selecciona --
								</option>
								{% for proffesor in proffesors %}
									<option value={{proffesor.id}}>{{proffesor.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% for type,typeitems in questions %}
		<div class="columns">
			<h2 class="title">{{-type-}}</h2>
		</div>
		{% for subtype, subtypeitems in typeitems %}
			<div class="columns">
				<h3 class="subtitle" style="margin-top: 1.5rem">{{-subtype-}}</h3>
			</div>
			{% for question in subtypeitems %}

				<div class="columns" style="background-color: {% if loop.index is odd %} hsl(0, 0%, 95%) {% else %} #FFFFFF {% endif %};">
					<div class="column is-6">
						{{ question.description }}
					</div>
					{% for column in 1..columns %}
						<div class="column {% if column in 2..columns %}is-hidden-mobile{% endif %}">
							<div class="control">
								{%- for key, answer in answers -%}
									<label class="radio">
										<input type="radio" name="answers[{{column}}][{{question.id}}]" value="{{key}}">
										{{answer}}
									</label>
								{%- endfor -%}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</div>
