<div class="container">
	<h3 class="subtitle">Información del estudiante</h3>

	<!-- age -->
	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Edad (años)</label>
		</div>
		<div class="field-body ">
			<div class="field">
				<input class="input is-primary" type="number" name="age" min="18" max="99" value="{{valid.age}}">
				{% if errors.age %}
					<p class="help is-danger">{{errors.age}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- gender -->
	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Género</label>
		</div>
		<div class="field-body">
			<div class="field">
				<div class="select is-primary is-fullwidth" name="gender">
					<select name="gender">
						<option disabled {% if not valid.gender %} selected {% endif %} value>
							-- Selecciona --
						</option>
						{% for gender in genders %}
							<option value={{gender.id}} {% if valid.gender and valid.gender == gender.id%} selected {% endif %}>{{gender.name}}</option>
						{% endfor %}
					</select>
				</div>
				{% if errors.gender %}
					<p class="help is-danger">{{errors.gender}}</p>
				{% endif %}
			</div>
		</div>

	</div>

	<!-- course -->
	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Curso matriculado</label>
		</div>
		<div class="field-body">
			<div class="field">
				<p class="control">
					<input class="input is-primary" type="number" name="lowest_course" min="1" max="6" placeholder="Curso más bajo" value="{{valid.lowest_course}}">
				</p>
				{% if errors.lowest_course %}
					<p class="help is-danger">{{errors.lowest_course}}</p>
				{% endif %}
			</div>
			<div class="field">
				<p class="control">
					<input class="input is-primary" type="number" name="highest_course" min="1" max="6" placeholder="Curso más alto" value="{{valid.highest_course}}">
				</p>
				{% if errors.highest_course %}
					<p class="help is-danger">{{errors.highest_course}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- enrollment -->
	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Matriculas realizadas</label>
		</div>
		<div class="field-body">
			<div class="field">
				<div class="select is-primary is-fullwidth" name="enrollment">
					<select name="enrollment">
						<option disabled {% if not valid.enrollment %} selected {% endif %} value>
							-- Selecciona --
						</option>
						{% for idk in 1..enrollment %}
							<option value={{idk}} {% if valid.enrollment and valid.enrollment == idk%} selected {% endif %}>{{idk}}</option>
						{% endfor %}
					</select>
				</div>
				{% if errors.enrollment %}
					<p class="help is-danger">{{errors.enrollment}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- exam -->
	<div class="field is-horizontal">
		<div class="field-label is-normal">
			<label class="label">Convocatorias realizadas</label>
		</div>
		<div class="field-body">
			<div class="field">
				<div class="select is-primary is-fullwidth" name="exam">
					<select name="exam">
						<option disabled {% if not valid.exam %} selected {% endif %} value>
							-- Selecciona --
						</option>
						{% for idk in 1..exam %}
							<option value={{idk}} {% if valid.exam and valid.exam == idk%} selected {% endif %}>{{idk}}</option>
						{% endfor %}
					</select>
				</div>
				{% if errors.exam %}
					<p class="help is-danger">{{errors.exam}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- interest -->
	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">La asignatura me interesa</label>
		</div>
		<div class="field-body">
			<div class="field is-narrow">
				<div class="control">
					{% for interes in interest %}
						<label class="radio">
							<input type="radio" name="interest" value="{{interes.id}}" {% if valid.interest and valid.interest == interes.id%} checked {% endif %}>
							{{interes.name}}
						</label>
					{% endfor %}
				</div>
				{% if errors.interest %}
					<p class="help is-danger">{{errors.interest}}</p>
				{% endif %}
			</div>
		</div>
	</div>


	<!-- Mentoring -->
	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">Hago uso de las tutorías</label>
		</div>
		<div class="field-body">
			<div class="field is-narrow">
				<div class="control">
					{% for mentor in mentoring %}
						<label class="radio">
							<input type="radio" name="mentoring" value="{{mentor.id}}" {% if valid.mentoring and valid.mentoring == mentor.id%} checked {% endif %}>
							{{mentor.name}}
						</label>
					{% endfor %}
				</div>
				{% if errors.mentoring %}
					<p class="help is-danger">{{errors.mentoring}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- dificulty -->
	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">Dificultad de esta asignatura</label>
		</div>
		<div class="field-body">
			<div class="field is-narrow">
				<div class="control">
					{% for dificult in dificulty %}
						<label class="radio">
							<input type="radio" name="dificulty" value="{{dificult.id}}" {% if valid.dificulty and valid.dificulty == dificult.id%} checked {% endif %}>
							{{dificult.name}}
						</label>
					{% endfor %}
				</div>
				{% if errors.dificulty %}
					<p class="help is-danger">{{errors.dificulty}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- expected-grade -->
	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">Calificación esperada</label>
		</div>
		<div class="field-body">
			<div class="field is-narrow">
				<div class="control">
					{% for expected in expectedgrade %}
						<label class="radio">
							<input type="radio" name="expectedgrade" value="{{expected.id}}" {% if valid.expectedgrade and valid.expectedgrade == expected.id%} checked {% endif %}>
							{{expected.name}}
						</label>
					{% endfor %}
				</div>
				{% if errors.expectedgrade %}
					<p class="help is-danger">{{errors.expectedgrade}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- assistance -->
	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">Asistencia a clase (&#37; horas lectivas)</label>
		</div>
		<div class="field-body">
			<div class="field is-narrow">
				<div class="control">
					{% for assist in assistance %}
						<label class="radio">
							<input type="radio" name="assistance" value="{{assist.id}}" {% if valid.assistance and valid.assistance == assist.id%} checked {% endif %}>
							{{assist.name}}
						</label>
					{% endfor %}
				</div>
				{% if errors.assistance %}
					<p class="help is-danger">{{errors.assistance}}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
